<%layout('/layout/BoilerPlate')-%>
<script>
    const coordinates=<%- JSON.stringify(list.coordinates)||JSON.stringify([28.704, -0.09]) %>;
</script>
<body>
    <div class="row mb-3">
        <div class="card front" >
            <div class="card-title">
                <h3 class="card-title" >
                    <b><%= list.title %></b><br>
                </h3>
            </div>
            <img src= <%= list.image.url %> class="card-image" alt="listing image" style="height: 15rem;width: 25rem;border-radius:0.75rem">
            <div class="col-6 " >
            <div class="card-text" style="max-width: 25rem;">
                <p >
                    <i>owned by <%= list.owner.username %></i>
                    <br>
                    <%= list.description %><br>
                    &#x20b9;<%= list.price.toLocaleString("en-IN") %>/Night<br>
                    <%= list.location %><br>
                    <%= list.country %><br></p>
            </div>
            <% if(currentUser&& currentUser._id.equals(list.owner._id)){ %>
                <div class="butns">
                    <div class="col-1 ">
                        <a href="/listings/edit/<%= id %>"
                            class="btn btn-dark color">edit
                        </a>
                    </div>
                    <div class="col-1 " >
                        <form method="post" action="/listings/delete/<%= id %>?_method=DELETE">
                            <button class="btn btn-dark del">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %>
            <% if(currentUser){ %>
                <hr>
            <% } %>
        </div>
    </div>
    <div class="row mb-3 review offset-3" style="width: 75%;">
        <% if(currentUser){ %>
            <form method="post" class="needs-validation" action="/listings/<%= id %>/review/new" novalidate>
                <h3 style="justify-content: center;align-items: center;">Leave a Review</h3>
                <fieldset class="starability-slot">
                    <legend>Rating:</legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                <label for="review[content]" class="form-label">comment</label>
                <div class="col-6">
                    <textarea placeholder="description" id="Review[content]" class="form-control" rows="3" cols="15" name="review[content]" required></textarea><br>
                </div>
                <div class="invalid-feedback">Please provide some description</div>
                <button class="btn btn-outline-dark">submit</button>
            </form>
        <% } %>
        
        <div class="row col-7 mb-4 mr-2 mt-3">
            <% if(list.reviews.length>0){ %>
                <hr>
                <h3 >All Reviews</h3>
                <% for(let review1 of list.reviews){ %>
                    <div class="col-5" style="min-width: 180px;">
                        <div class="card">
                            <h5 class="card-title">@<%= review1.author.username %></h5>
                            <p class="card-text"><%= review1.content %></p>
                            <p class="starability-result" data-rating=<%= review1.rating%>>
                                Rated:<%= review1.rating%> stars
                              </p>
                            <form method="post" action="/listings/<%= list._id %>/review/<%= review1._id %>?_method=DELETE">
                                <button class="btn btn-dark" type="submit">Delete</submit>
                            </form>
                        </div>
                    </div>
                <% } %>
            <% } %>
            
        </div>
        
        <div class="row">
            <hr>
            <h3>Where you'll be</h3>
            <div id="map">

            </div>
            
        </div>
   </div>
</div>
</body>
